extends layout

block content
  h1.hello Hello! 
  h1 Welcome to Twit&copy;
  p Please log in, or create a new account.
    div.login
      form(method="post" action="/login")
        h2 Log into an existing account
          div
            label Username: 
              input(type="text" name="username" placeholder="username")
          div
            label Password: 
              input(type="password" name="password")
          div
            input.submit(type="submit" value="Login!")

    div.register
      form(method="post" action="/register")
        h2 Register a new account
          div
            label Username: 
              input(type="text" name="username" placeholder="username")
          div
            label Password:
              input(type="password" name="password")
          div
            label Confirm Password: 
              input(type="password" name="password_confirm")
          div
            input.submit(type="submit" value="Register account")
