doctype html
html
  head
    title Twit(tm)
    link(href='http://fonts.googleapis.com/css?family=Stint+Ultra+Expanded|Slabo+13px|Ultra' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content