extends layout

block content
  if username
    h1 Welcome, #{ username }.
  div 
    form(method="post" action="/twit")
      div
        label What's on yo' mind?  
          input(type="text" name="twit" placeholder="Type a twit!")
      div
        input.submit(type="submit" value="Say it!")

    each twit in tweets
      div
        img(src="http://media.giphy.com/media/14wcKRPZygbpio/giphy.gif")
        span= twit.tweet
        span= twit.userID