/*
22px / 48px for headline font-family: 'Stint Ultra Expanded', cursive;
68px for headline font-family: 'Ultra', serif;
15px body text: font-family: 'Slabo 13px', serif;  

dark blue: #225378;
med blue: #1695A3;
light blue: #ACF0F2;
greenish: #F3FFE2;
orange: #EB7F00;
*/

/********************
Site-wide styling
********************/

body {
  padding: 40px;
  background: #F3FFE2 ;
}

h1 {
  font-family: 'Stint Ultra Expanded', cursive;
  font-size: 68px;
  color: #EB7F00;
}

body p {
  font-family: 'Stint Ultra Expanded', cursive;
  color: #225378;
  font-size: 20px;
}

/********************
Index.jade
********************/
.hello {
  font-family: 'Ultra', serif;
  font-size: 68px;
}

body h2 {
  font-family: 'Stint Ultra Expanded', cursive;
  color: #1695A3;
}

body form h2 div label {
  font-family: 'Slabo 13px', serif;
  color: #225378;
  font-size: 17px
}

body form h2 div input {
  font-family: 'Slabo 13px', serif;
  color: #225378;
  font-size: 13px
}

body form h2 input.submit {
  font-family: 'Slabo 13px', serif;
  color: #225378;
  font-size: 17px
}

.login {
  float: left;
  margin-right: 30px;
  border: 3px solid #EB7F00;
  padding: 20px 25px;
  margin-top: 20px;
}

.register {
  float: right;
  margin-right: 100px;
  border: 3px solid #EB7F00;
  padding: 20px 25px;
  margin-top: 20px;
}

/********************
Logged-in.jade
********************/

body div form label {
  font-family: 'Slabo 13px', serif;
  color: #225378;
  font-size: 17px
}

body div form input {
  font-family: 'Slabo 13px', serif;
  color: #225378;
  font-size: 13px;
  padding: 20px;
}

body form input.submit {
  font-family: 'Slabo 13px', serif;
  color: #225378;
  font-size: 17px
}

body div form div label.textbox {
  font-size: 25px;
}

body div form div label.textbox input {
  margin: 20px;
  font-family: 'Slabo 13px', serif;
  padding: 10px;
  font-size: 15px;
}

.tired {
  margin-left: 400px;
}

.avatar {
  display: inline-block;
  max-width: 50px;
  max-height: 50px;
  margin: 10px;
  float: left;
}

.tweetBlock {
  border: 3px solid #EB7F00;
  border-radius: 10px;
  margin: 10px 5px;
  height: 80px;
  padding: 5px;
  margin: 25px 0;
}

.text {
  float: left;
  vertical-align: middle;
  text-align: center;
  color: #1695A3;
}

body div div.tweetBlock div.tweetContent span.tweetText {
  color: #1695A3;
}

.tweetContent {
  padding-top: 10px;
  padding-left: 20px;
  font-family: 'Slabo 13px', serif;
}

body div div.tweetBlock div.tweetContent span.username {
  color: #ACF0F2;
}


body div div.tweetBlock div.tweetContent span div.timestamp span {
  color: #225378;
}
