/*
font-family: 'Carrois Gothic', sans-serif;
font-family: 'Slabo 27px', serif;

blue: #1DABC6
yellow: #E3C61F
pink: #D23184
green: #A8C520
*/

/********************
Site-wide styling
********************/

body {
  /*padding: 40px;*/
  background: #fff ;
}

a {
  text-decoration: none;
}

/********************
Index.jade
********************/
.hello {
  font-family: 'Carrois Gothic', sans-serif;
  font-size: 3em;
  color: #D23184;
  background-color: #fff;
  margin: 0 0;
  padding-left: 0.75em;
  padding-top: 0.75em;
}

.index-p {
  font-family: 'Carrois Gothic', sans-serif;
  font-size: 1.25em;
  padding-left: 0.75em
}

.forms {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.login {
  float: left;
  display: inline-block;
  /*border: 3px solid #D23184;*/
  padding-left: 2em;
  padding-right: 4em;
}

.login h2 {
  font-family: 'Slabo 27px', serif;
  color: #A8C520;
}

.register {
  float: left;
  display: inline-block;
  padding-left: 4em;
  /*border-left: 3px solid black;*/
  /*border: 3px solid #D23184;*/
}

.register h2 {
  font-family: 'Slabo 27px', serif;
  color: #E3C61F;
}

.user-label {
  font-family: 'Slabo 27px', serif;
  margin-top: 0.75em;
}

.pw-label {
  font-family: 'Slabo 27px', serif;
  margin-top: 0.75em;
}

.sub-btn {
  margin-top: 0.75em;
}

.pw-confirm {
  font-family: 'Slabo 27px', serif;
  margin-top: 0.75em;
}

.email {
  font-family: 'Slabo 27px', serif;
  margin-top: 0.75em;
}


/********************
Logged-in.jade
********************/
body {
  margin-left: 0px;
  margin-right: 0px;
}

.nav {
  background-color: #1DABC6;
  font-family: 'Slabo 27px', serif;
  color: #fff;
  top: 0;
  max-height: 5em;
  padding: 20px 20px;
  min-width: 100%;
  margin-left: 0px;
  /*position: fixed;*/
}

.welcome {
  font-size: 1.5em;
}

.logout {
  float: right;
  display: inline-block;
  font-family: 'Stint Ultra Expanded', cursive;
  margin-bottom: 20px;
}

.tired {
  font-family: 'Carrois Gothic', sans-serif;
  color: #fff;
}

.others {
  float: right;
  display: inline-block;
  color: #fff;
  font-family: 'Carrois Gothic', sans-serif;
  margin-top: 20px;
}

.express {
  font-family: 'Slabo 27px', serif;
  margin-bottom: 40px;
}

.makeTweet input {
  padding: 10px;
  margin: 0 10px;
}

div.makeTweet {
  margin-left: 20px;
  margin-right: 20px;
}

.submit input {
  padding: 20px;
  font-family: 'Slabo 13px', serif;
}

.tweetBlock {
  border: 3px solid #D23184;
  border-radius: 10px;
  height: 80px;
  padding: 0.75em;
  margin: 25px 40px;
}

body div div.tweetBlock {
  margin-left: 20px;
  margin-right: 20px;
}

.avatar {
  display: inline-block;
  max-width: 70px;
  max-height: 70px;
  margin: 10px;
  float: left;
  border-radius: 100px;
}

.tweetContent {
  padding-top: 10px;
  padding-left: 20px;
  font-family: 'Slabo 13px', serif;
}

.username {
  font-family: 'Carrois Gothic', serif;
  font-size: 1.2em;
  padding-top: 8px;
}

.username span {
  color: #A8C520;
}

.tweetText {
  font-family: 'Slabo 27px', serif;
}

span.tweetText {
  color: #1DABC6;
}

.timestamp {
  font-family: 'Slabo 27px', serif;
}

.timestamp span {
  color: #A8C520;
}

/********************
Mistake.jade
********************/

.mistake {
  background-color: #1DABC6;
}

.sorry {
  font-family: 'Carrois Gothic', sans-serif;
  text-align: center;
  color: #fff;
}

.pw-error {
  font-family: 'Carrois Gothic', sans-serif;
  text-align: center;
  color: #fff;
}

.return {
  font-family: 'Carrois Gothic', sans-serif;
  text-align: center;
  color: #fff;
}

.return a {
  color: #A8C520;
}

.return a:hover {
  color: #E3C61F;
}


