/*
22px / 48px for headline font-family: 'Stint Ultra Expanded', cursive;
68px for headline font-family: 'Ultra', serif;
15px body text: font-family: 'Slabo 13px', serif;  

dark blue: #225378;
med blue: #1695A3;
light blue: #ACF0F2;
greenish: #F3FFE2;
orange: #EB7F00;
*/

/********************
Site-wide styling
********************/

body {
  /*padding: 40px;*/
  background: #F3FFE2 ;
  margin-top: 0px;
}

h1 {
  font-family: 'Stint Ultra Expanded', cursive;
  font-size: 68px;
  color: #EB7F00;
}

body p {
  font-family: 'Stint Ultra Expanded', cursive;
  color: #225378;
  font-size: 20px;
}

/********************
Index.jade
********************/
body h1.hello {
  font-family: 'Ultra', serif;
  font-size: 68px;
  margin-left: 30px;
}

body h1, p {
  margin-left: 30px;
}

body h2 {
  font-family: 'Stint Ultra Expanded', cursive;
  color: #1695A3;
}

body form h2 div label {
  font-family: 'Slabo 13px', serif;
  color: #225378;
  font-size: 17px
}

body form h2 div input {
  font-family: 'Slabo 13px', serif;
  color: #225378;
  font-size: 13px
}

body form h2 input.submit {
  font-family: 'Slabo 13px', serif;
  color: #225378;
  font-size: 17px
}

.login {
  float: left;
  margin-right: 30px;
  border: 3px solid #EB7F00;
  padding: 20px 25px;
  margin-top: 20px;
  margin-left: 30px;
}

.register {
  float: right;
  margin-right: 100px;
  border: 3px solid #EB7F00;
  padding: 20px 25px;
  margin-top: 20px;
}

/********************
Logged-in.jade
********************/
body {
  margin-left: 0px;
  margin-right: 0px;
}

.nav {
  background-color: #ACF0F2;
  top: 0;
  padding: 20px 20px;
  max-width: 100%;
  margin-left: 0px;
  border-bottom: 1.5px solid #225378;
}

.logout {
  float: right;
  display: inline-block;
  font-family: 'Stint Ultra Expanded', cursive;
  color: #225378;
  margin-bottom: 20px;
}

.others {
  float: right;
  display: inline-block;
  font-family: 'Stint Ultra Expanded', cursive;
  color: #225378;
  margin-top: 20px;
}

.welcome h2 {
  max-width: 60%;
  color: #225378;
}

.makeTweet {
  font-family: 'Stint Ultra Expanded', cursive;
  color: #225378;
  margin-bottom: 40px;
}

.makeTweet input {
  padding: 10px;
  margin: 0 10px;
}

body div form div.makeTweet {
  margin-left: 20px;
  margin-right: 20px;
}

.submit input {
  padding: 20px;
  font-family: 'Slabo 13px', serif;
}

.tweetBlock {
  border: 3px solid #EB7F00;
  border-radius: 10px;
  height: 80px;
  padding: 5px;
  margin: 25px 0;
}

body div div.tweetBlock {
  margin-left: 20px;
  margin-right: 20px;
}

.avatar {
  display: inline-block;
  max-width: 70px;
  max-height: 70px;
  margin: 10px;
  float: left;
  border-radius: 100px;
}

.tweetContent {
  padding-top: 10px;
  padding-left: 20px;
  font-family: 'Slabo 13px', serif;
}

.username {
  font-family: 'Slabo 13px', serif;
  padding-top: 8px;
}

.username span {
  color: #225378;
}

.tweetText {
  font-family: 'Slabo 13px', serif;
}

span.tweetText {
  color: #1695A3;
}

.timestamp {
  font-family: 'Slabo 13px', serif;
}

.timestamp span {
  color: #225378;
}